/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius:wght@400;600&display=swap");

/* @font-face {
  font-family: "Great-Vibes";
  src: url('GreatVibes-Regular.TTF');
} */

@font-face {
     font-family: "Hurricane"; /* Nama font yang akan digunakan */
     src: url("../font/Hurricane-Regular.ttf") format("truetype"); /* Format TTF */
     font-weight: normal; /* Berat font: normal, bold, dll */
     font-style: normal; /* Gaya font: normal, italic, dll */
}

/*=============== VARIABLES CSS ===============*/
:root {
     --header-height: 3rem;

     /*========== Colors ==========*/
     --hue: 174;
     --sat: 63%;
     --first-color: #b76a7e;
     --first-color-alt: hsl(var(--hue), var(--sat), 36%);
     --title-color: #d7d7d7;
     --text-color: hsl(var(--hue), 8%, 35%);
     --body-color: hsl(var(--hue), 100%, 99%);
     --container-color: #fff;

     /*========== Font and typography ==========*/
     --body-font: "Delius", sans-serif;
     --h1-font-size: 0.5rem;
     --normal-font-size: 0.938rem;
     --tiny-font-size: 0.625rem;

     /*========== z index ==========*/
     --z-tooltip: 10;
     --z-fixed: 100;
}

@media screen and (min-width: 968px) {
     :root {
          --h1-font-size: 2.25rem;
          --normal-font-size: 1rem;
     }
}

/*=============== BASE ===============*/
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

html {
     scroll-behavior: smooth;
}

body {
     /* margin: var(--header-height) 0 0 0; */
     background-color: #cdcdcd;
     margin: 0 0 0 0;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     /* background-color: var(--body-color); */
     color: var(--text-color);
     /* hide horixontal scrrollbar */
     overflow-x: hidden;
     /* hide Vertical scrrollbar */
     /* overflow-y: hidden; */
}

ul {
     list-style: none;
}

a {
     text-decoration: none;
}

img {
     max-width: 100%;
     height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
     padding: 0;
     /* padding: 0.5rem 0 2rem; */
     /* border: #fde8e8 solid 5px; */
}

.section__title {
     /* font-size: var(--h1-font-size); */
     /* color: var(--title-color); */
     font-size: 22px;
     text-align: center;
     /* margin-bottom: 1.5rem; */
}

.section__height {
     height: 100vh;
}

/*=============== LAYOUT ===============*/
.container-a {
     max-width: 968px;
     margin-left: 1rem;
     margin-right: 1rem;
     background-color: aqua;
}

/*=============== HEADER ===============*/
.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: var(--container-color);
     z-index: var(--z-fixed);
     transition: 0.4s;
}

/*=============== NAV ===============*/

.btn_full_screen {
     position: fixed;
     width: 35px;
     height: 35px;
     bottom: 24%;
     right: 25%;
     font-size: 25px;
     color: #cdd3de;
     border-radius: 50%;
     background-color: #464f63;
     box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
     padding: 2px 2px 2px 4px;
     align-content: center;
     transition: 0.4s;
}

.btn_play {
     position: fixed;
     width: 35px;
     height: 35px;
     bottom: 15%;
     right: 25%;
     font-size: 25px;
     color: #cdd3de;
     border-radius: 50%;
     background-color: #464f63;
     box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
     padding: 2px 2px 2px 4px;
     align-content: center;
     transition: 0.4s;
}

.nav {
     position: fixed;
     width: 50%;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #424a5d;
     box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
     height: 50px;
     padding: 10px;
     display: grid;
     align-content: center;
     transition: 0.4s;
}

.nav__img {
     width: 32px;
     border-radius: 50%;
}

.nav__logo {
     color: var(--title-color);
     font-weight: 600;
}

.nav__list,
.nav__link {
     display: flex;
}

.nav__link {
     flex-direction: column;
     align-items: center;
     row-gap: 4px;
     color: var(--title-color);
     font-weight: 600;
}

.nav__list {
     justify-content: space-around;
     width: 100%;
     margin-left: -20px;
     margin-bottom: -5px;
}

.nav__name {
     font-size: var(--tiny-font-size);
     /* display: none;*/
     /* Minimalist design, hidden labels */
}

.nav__icon {
     font-size: 1.5rem;
}

/*Active link*/
.active-link {
     /* position: relative;
  color: var(--first-color);
  transition: .3s; */
     color: var(--first-color);
     border-bottom: #d1cdce solid 3px;
     transition: 0.9s;
}

/* Minimalist design, active link */
.active-link::before {
     content: "";
     position: absolute;
     bottom: -0.5rem;
     width: 4px;
     height: 4px;
     background-color: var(--first-color);
     border-radius: 50%;
}

/*=============== NAV ===============*/
/* #homes {
  background-repeat: no-repeat;
  background-image: url('/assets/img/bg-01.png');
  background-size: 100% 100%;
} */

.txt_titel {
     font-weight: 200;
     font-style: normal;
     font-size: 24px;
}

.txt_titel_pink {
     margin-top: 25px;
     color: #93514e;
     font-size: 24px;
}

.txt_titel_white {
     margin-top: 25px;
     color: #fdf2e6;
     font-size: 24px;
}

.txt_sambung {
     font-family: "Great Vibes";
}

.txt_sambung h1 {
     font-size: 32px;
}

.txt_sambung h2 {
     font-size: 28px;
}

.txt_sambung h3 {
     font-size: 24px;
}

.nama_sambung {
     font-family: "Water Brush";
     font-size: 32px;
     text-align: center;
     animation: zoom-in-out 3s ease infinite;
}

.text_kecil {
     font-size: 14px;
}

.txt-nama {
     font-family: "Hurricane";
     font-style: normal;
     letter-spacing: -0.04em;
     /* text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
     color: #ffffff;
     font-size: 3rem; /* Sesuaikan ukuran font sesuai kebutuhan */
}

.text-dan {
     font-style: italic;
     letter-spacing: -0.03em;
     color: #ffffff;
     font-size: 3rem; /* Ukuran yang sama dengan txt-nama */
     font-weight: bold;
}
.d-inline {
     display: inline-block; /* Agar elemen-elemen tersebut berada dalam satu baris */
     margin: 0 5px; /* Memberikan jarak kecil antar inisial dan simbol */
}

.txt-nama2 {
     font-weight: 300;
     font-style: normal;
     font-size: 28px;
     letter-spacing: -0.02em;
     -webkit-font-smoothing: antialiased;
}

.icon_haeart {
     font-weight: 700;
     font-style: normal;
     font-size: 32px;
}

.sampul {
     background-color: #933f55;
     position: fixed;
     left: 0px;
     right: 0px;
     top: 0;
     bottom: 0;
     width: 100%;
     background-image: url("../img/bg_cover.jpg");
     background-repeat: no-repeat;
     background-size: cover; /* Menyesuaikan gambar latar belakang agar memenuhi seluruh layar */
     background-position: center center; /* Memposisikan gambar agar tetap di tengah */
}

.sampul-bgtrans {
     background-color: rgba(0, 0, 0, 0.822);
     left: 0px;
     right: 0px;
     width: 100%;
     height: 100vh;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
}

.sampul h1 {
     padding: 5px;
     font-family: "Great-Vibes";
     font-size: 42px;
     color: #fff;
}

.sampul h2 {
     padding: 15px;
     font-size: 22px;
     color: #fff;
}

.sampul p {
     padding: 5px;
     font-size: 18px;
     color: #fff;
}

.btn-sampul {
     background-color: #313946;
     border: none;
     color: #fff;
     padding: 10px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     border-radius: 25px;
}

.profile {
     width: 50%;
     min-height: 85vh;
     margin: 0 auto;
     padding: 15px;
     background-image: url("../img/bg_cover2.jpg"); /* Tambahkan gambar di sini */
     background-size: cover; /* Gambar menutupi elemen */
     background-position: center; /* Posisikan gambar di tengah */
     background-repeat: no-repeat; /* Jangan ulangi gambar */

     display: flex;
     justify-content: center;
     align-items: center;
}

.profile_content {
     position: absolute; /* Posisi absolut untuk mengatur posisi relatif terhadap parent */
     bottom: 75px; /* Posisikan di bagian bawah */
     width: 45%; /* Lebar penuh */
     background: linear-gradient(
          to top,
          /* Gradien bergerak dari bawah ke atas */ rgba(0, 0, 0, 0.947),
          /* Bagian bawah lebih gelap */ rgba(67, 67, 67, 0)
               /* Bagian atas transparan */
     );
     color: #e7e6e6; /* Warna teks */
     padding: 10px; /* Jarak padding */
     text-align: center; /* Pusatkan teks */
}
.profile_initial {
     padding: 10px;
     border-radius: 50%;
     margin-top: 50px; /* optional, untuk memberi ruang di atas */
     margin-bottom: 150px; /* optional, untuk memberi ruang di atas */
}

.info {
     width: 50%;
     min-height: 95vh;
     margin: 0 auto;
     background-color: #313946; /* Warna latar belakang jika gambar tidak dimuat */
     background-image: linear-gradient(
               rgba(49, 57, 70, 0.7),
               rgba(49, 57, 70, 0.7)
          ),
          url("../img/bg_dongker.jpg"); /* Ganti dengan path gambar Anda */
     background-size: cover; /* Gambar menutupi seluruh elemen */
     background-position: center; /* Posisikan gambar di tengah */
     background-repeat: no-repeat; /* Hindari pengulangan gambar */
     padding: 25px;
}
/* Untuk Tulisan ada garis kiri dan kanan horizontal */
.horizontal-line-text {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
}

.horizontal-line-text::before,
.horizontal-line-text::after {
     content: "";
     width: 50px; /* Set panjang garis */
     height: 1px;
     background-color: black;
     margin: 0 10px;
}

.horizontal-line-text span {
     padding: 0 10px;
}
/* Untuk Tulisan ada garis kiri dan kanan horizontal */

.info img {
     width: 25%;
     height: 200px;
     border-radius: 10px; /* Membuat sudut melengkung */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan lembut */
     object-fit: cover; /* Gambar di-crop agar memenuhi elemen tanpa distorsi */
     object-position: center; /* Fokus gambar di tengah */
     transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efek animasi saat interaksi */
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Perkuat bayangan saat di-hover */
}

.quotes-info {
     background-color: #2d0402;
     color: #d7d7d7;
}

.card_trans_white {
     background-color: #f5f5f5;
     color: #2c2c2c;
     height: auto;
     border-radius: 10px;
     padding: 20px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_trans_pink {
     background-color: rgba(255, 145, 204, 0.242);
     height: auto;
     border-radius: 5%;
     padding: 20px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_counter {
     color: #67302d;
}

.lokasi {
     width: 50%;
     margin: 0 auto;
     background-color: #464f63;
     padding: 25px;
     color: #ffffff;
}

.galeri {
     width: 50%;
     height: auto;
     margin: 0 auto;
     color: #e3e3e3;
     background-color: #313946;
     padding: 25px;

     background-image: url("../img/bawah.png"); /* Gambar background */
     background-repeat: no-repeat; /* Jangan ulangi gambar */
     background-size: 100%; /* Ukuran gambar 35% dari elemen */
     background-position: bottom center; /* Posisi gambar di bawah tengah */
}

.ucapan {
     width: 50%;
     min-height: 100vh;
     margin: 0 auto;
     color: #933f55;
     background-color: #e5a19d;
     padding: 25px;
     background-position: top 0px left 0px, top 0px right 0px;
     background-image: url("../img/bg_top_left.png"),
          url("../img/bg_top_right.png");
     background-repeat: no-repeat;
     background-size: 35%;

     /* background-color: #8a86b9; */
}

.list_comment {
     background-color: #b76a7e;
     padding: 5px;
     width: 100%;
     max-height: 500px;
     overflow-y: scroll;
}

/* Change background header */
.scroll-header {
     box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.icon_bank {
     background: #fff;
     padding: 5px;
     max-width: 50%; /* Membuat gambar responsif */
     height: auto; /* Menjaga proporsi gambar */
     display: block; /* Menghindari ruang kosong di bawah gambar */
     margin: 0 auto; /* Pusatkan gambar jika diperlukan */
}

.btn-copy {
     background: #464f63;
     color: #fff;
}

/*=============== card Comentar===============*/
#commentBox {
     max-height: 400px; /* Tinggi maksimal kotak */
     overflow-y: auto; /* Scroll vertikal */
     padding: 1rem; /* Spasi dalam kotak */
}

/* Scrollbar styling */
#commentBox::-webkit-scrollbar {
     width: 8px; /* Lebar scrollbar */
     background-color: #f0f0f0; /* Latar belakang scrollbar */
}

#commentBox::-webkit-scrollbar-thumb {
     background-color: #aaa; /* Warna thumb scrollbar */
     border-radius: 4px; /* Sudut thumb scrollbar */
}

#commentBox::-webkit-scrollbar-thumb:hover {
     background-color: #888; /* Warna thumb saat hover */
}

/* Card untuk setiap komentar */
.comment-card {
     display: flex;
     align-items: flex-start;
     border: 1px solid #ddd;
     border-radius: 8px;
     padding: 5px;
     background-color: #f9f9f9;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Kolom kiri (ikon pengguna) */
.comment-icon {
     flex: 0 0 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 1rem;
}

.comment-icon img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: #ccc;
     object-fit: cover;
}

/* Kolom kanan (teks komentar) */
.comment-content {
     flex: 1;
}

.comment-content .name {
     font-size: 0.9rem;
     font-weight: bold;
     color: #333;
}

.comment-content .datetime {
     font-size: 0.8rem;
     color: #666;
     margin-top: 2px;
}

.comment-content .message {
     font-size: 0.95rem;
     color: #444;
     margin-top: 0.1rem;
     line-height: 1.4;
}
/*=============== edn  card Comentar ===============*/

/*=============== MEDIA QUERIES ===============*/

/* max-width */
@media screen and (max-width: 767px) {
     a {
          text-decoration: none;
     }

     .nav__menu {
          position: fixed;
          bottom: 0;
          left: 0;
          background-color: var(--container-color);
          box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
          width: 100%;
          height: 4rem;
          /* padding: 0 1rem; */
          display: grid;
          align-content: center;
          border-radius: 1.25rem 1.25rem 0 0;
          transition: 0.4s;
     }

     .btn_play {
          right: 5%;
          bottom: 10%;
     }

     .btn_full_screen {
          right: 5%;
          bottom: 15%;
     }

     .sampul {
          background-image: url("../img/bg_cover.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          height: 100%;
          width: 100%;
     }

     .profile {
          /* background-image: url('../img/bg_flowerMbl.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; */
          width: 100%;
          padding: 15px;
     }
     .profile_content {
          width: 100%; /* Lebar penuh */
     }
     .info {
          width: 100%;
          padding: 15px;
     }

     .lokasi {
          width: 100%;
          padding: 15px;
     }

     .galeri {
          width: 100%;
          padding: 15px;
     }

     .ucapan {
          width: 100%;
          padding: 15px;
     }

     .card_trans_pink {
          border-radius: 10px;
     }

     .card_trans_white {
          border-radius: 10px;
     }
}

/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
     .nav__name {
          display: none;
     }

     .btn_play {
          right: 5%;
          bottom: 10%;
     }

     .btn_full_screen {
          right: 5%;
          bottom: 15%;
     }

     .profile {
          width: 100%;
          padding: 15px;
     }
     .profile_content {
          width: 100%; /* Lebar penuh */
     }

     .info {
          width: 100%;
          padding: 15px;
     }

     .lokasi {
          width: 100%;
          padding: 15px;
     }

     .galeri {
          width: 100%;
          padding: 15px;
     }

     .card_trans_pink {
          border-radius: 10px;
     }

     .card_trans_white {
          border-radius: 10px;
     }
}

/* Atur agar tidak ada kolom yang menjadi 1 */
@media (max-width: 576px) {
     .col-sm-6 {
          flex: 0 0 auto;
          width: 50%; /* Paksa minimal 2 kolom pada layar kecil */
     }
}
/* For medium devices */
@media screen and (min-width: 576px) {
     .nav__list {
          justify-content: center;
          column-gap: 3rem;
     }

     /* .sampul {
    background-image: url("../img/bgku.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    background-size: 150% 100%;
  } */
}

@media screen and (min-width: 767px) {
     body {
          margin: 0;
     }

     .section {
          padding: 0rem 0 2rem;
     }

     .nav {
          height: calc(var(--header-height) + 1.5rem);
          /* 4.5rem */
     }

     .nav__img {
          display: none;
     }

     .nav__name {
          font-size: var(--normal-font-size);
          /* display: block; */
          /* Minimalist design, visible labels */
     }

     .nav__link:hover {
          color: var(--first-color);
     }

     /* First design, remove if you choose the minimalist design */
     .active-link::before {
          content: "";
          position: absolute;
          bottom: -0.75rem;
          width: 4px;
          height: 4px;
          background-color: var(--first-color);
          border-radius: 50%;
     }

     /* Minimalist design */
     .active-link::before {
          bottom: -0.75rem;
     }
}

/* For large devices */
@media screen and (min-width: 1024px) {
     .container-a {
          margin-left: auto;
          margin-right: auto;
     }
}

/* *************************** animation ******************** */
.slide-top {
     -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
     animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-9 21:12:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
     0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
     }

     100% {
          -webkit-transform: translateY(-900px);
          transform: translateY(-900px);
          display: none;
     }
}

@keyframes slide-top {
     0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
     }

     100% {
          -webkit-transform: translateY(-900px);
          transform: translateY(-900px);
          display: none;
     }
}

@keyframes zoom-in-out {
     0% {
          transform: scale(1, 1);
     }

     50% {
          transform: scale(1.5, 1.5);
     }

     100% {
          transform: scale(1, 1);
     }
}

/* *************************** animation ******************** */
